/********************************************************
---- STYLE GUIDE -----
Layout
Mobile: 375px
Desktop: 1440px

Colors
Primary

Blue: hsl(246, 80%, 60%)
Light red (work): hsl(15, 100%, 70%)
Soft blue (play): hsl(195, 74%, 62%)
Light red (study): hsl(348, 100%, 68%)
Lime green (exercise): hsl(145, 58%, 55%)
Violet (social): hsl(264, 64%, 52%)
Soft orange (self care): hsl(43, 84%, 65%)

Neutral
Very dark blue: hsl(226, 43%, 10%)
Dark blue: hsl(235, 46%, 20%)
Desaturated blue: hsl(235, 45%, 61%)
Pale Blue: hsl(236, 100%, 87%)

Typography

Body Copy
Font size: 18px (card titles e.g. Work, Play)

Font
Family: [Rubik](https://fonts.google.com/specimen/Rubik)
Weights: 300, 400, 500
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
********************************************************/

/************************/
/* GEN & REUSABLE       */
/************************/
:root {
  /* PRIMARIES */
  --Blue: hsl(246, 80%, 60%);
  --LightRed: hsl(15, 100%, 70%);
  --SoftBlue: hsl(195, 74%, 62%);
  --LightRed: hsl(348, 100%, 68%);
  --LimeGreen: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --SoftOrange: hsl(43, 84%, 65%);

  /* NEUTRALS */
  --VeryDarkBlue: hsl(226, 43%, 10%);
  --DarkBlue: hsl(235, 46%, 20%);
  --DesaturatedBlue: rgb(111, 118, 200);
  --PaleBlue: hsl(236, 100%, 87%);
  --highlightBlue: rgb(58, 67, 170);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Font Styles */
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 62.5%;
  font-weight: 300;
  line-height: 1;

  /* Single page background */
  background-color: var(--VeryDarkBlue);
}

article {
  height: 38rem;
  margin-top: 25vh;
}

footer {
  margin-top: 20px;
}

.container {
  /* Auto center */
  max-width: 144rem;
  padding: 0 28rem;
  margin: 0 auto;
}

.col-4 {
  /* 4 col grid */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.row-1-span-2 {
  grid-row: 1 / 3;
}

.padding-med {
  padding: 2.4rem;
}

.border-radius-med {
  border-radius: 10px;
}

.link:link,
.link:visited {
  text-decoration: none;
  font-weight: 400;
  color: var(--DesaturatedBlue);
}

.link:hover,
.link:active {
  text-decoration: none;
  color: var(--PaleBlue);
}

.inner-card-front {
  background-color: var(--DarkBlue);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 79%;
}

.inner-card-back {
  background-repeat: no-repeat;
  background-position: 92% 0%;
  height: 99%;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.card-data {
  display: flex;
  flex-direction: column;
}

.current-hours {
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}

.previous-hours {
  font-size: 1rem;
}

/************************/
/* CONTROL card STYLES */
/************************/
.control-card {
  background-color: var(--DarkBlue);
  overflow: hidden;
}

.user-info {
  background-color: var(--Blue);
}

.control-img {
  height: 5.8rem;
  width: 5.8rem;
  border: 3px solid #fff;
  margin-bottom: 2.4rem;
  border-radius: 50%;
}

.control-card-header {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.control-card-name {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 3.8rem;
}

.time-selector {
  font-size: 1.6rem;
}

.time-period:not(:last-child) {
  margin-bottom: 1.8rem;
}

/************************/
/* WORK card STYLES    */
/************************/
.work-card-bg {
  background-image: url("/images/icon-work.svg");
  background-color: #f7a15afa;
}

.play-card-bg {
  background-image: url("/images/icon-play.svg");
  background-color: var(--SoftBlue);
}

.study-card-bg {
  background-image: url("/images/icon-study.svg");
  background-color: var(--LightRed);
}

.exercise-card-bg {
  background-image: url("/images/icon-exercise.svg");
  background-color: var(--LimeGreen);
}

.social-card-bg {
  background-image: url("/images/icon-social.svg");
  background-color: var(--Violet);
}

.self-care-card-bg {
  background-image: url("/images/icon-self-care.svg");
  background-color: var(--SoftOrange);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
